body {
    background-color: white;//#f8f9fa; // #e3f2f
    height: 100vh;
    widows: 100vw;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: calc(0.25em + 1vh);
  
  }
.container{
    width: 100%;
    padding: 0;
    margin: 0;
    .row{
        width: 100vw;
        
        .col{
            width: 50vw;
            height: 100vh;
            padding: 0;
            margin: 0;
        }
    }
    
}
  
