.main {
  text-align: center;
  display: flex;
  width: 100%;
  .img {
      width: 40%;
    .main-img {
      width: 30vw;
      cursor: pointer;
    }
  }
  .text {
      width: 60%;
      align-self: center;
      padding: 3%;
    .mainName {
      color: white;
      font-size: 6em;
    }
  }
}
