.main {
  text-align: center;
  display: flex;
  width: 100%;
  .img {
      width: 50%;
    .main-img {
      width: 40vw;
    }
  }
  .text {
      width: 50%;
      align-self: center;
    .mainName {
      color: white;
      font-size: 10em;
    }
  }
}
