.wrapper {
    height: 100%;
    overflow-x: hidden;
    position: relative;
  
  
  .menuTrigger {
    display: inline-block;
    width: 36px;
    height: 28px;
    vertical-align: middle;
    cursor: pointer;
    float: right;
    top: 4px;
    right: 1px;
    z-index: 100;
    transform: translateX(0);
    transition: transform 0.5s;
    margin: 1% 1.5%;
    .fa-search{
      position: absolute;
      font-size: 1.5em;
      color: white;
    }
  }
}
  
  