.search-input{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 35vw;
    float: right;
    
    .fa-times{
      transform: translate(-9vw, -5.4vw);
      position: absolute;
      right: 0.5em;
      font-size: 1.5em;
      top: 0.5em;
      color: black;
  
    }
    
    .search-bar {
      width: 100%;
      padding-right: 2em;
    }
    .form-control {
      display: block;
      width: 100%;
      height: calc(1.5em + .75rem + 2px);
      padding: .375rem .75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      // position: absolute;
      // left: -43%;
      // transform: translate(8px, 9px);
    }
  }
  
  .searchForm{
    position: relative;
    margin-right: 1em;
  }

  .searchBtn{
    margin: 3%;
  }
  
 .result{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
    img{
      margin: 2%;
    }
 }

 .empty{
   width: 210px;
   height: 295px;
   background-color:#7b8186;
   margin: 3%;
   cursor: pointer;
   position: relative;
     h3{
       position: absolute;
       top: 50%;
       left:50%;
       transform: translate(-50%, -50%);
     }
 }

 .errorMsg{
  font-size: 1.6em;
  display: block;
  margin: 4%;
  text-align: center;
 }

 .search{
  position: absolute;
  top: 60%;
  left: 0%;
  transform: translate(-23%, -164%);
 }